<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">

    <title>Hello, world!</title>
</head>

<body>

    <div class="container">
        <h1>RPD traveling</h1>
    </div>

    <div class="container">
        <form action="#" th:action="@{/trip/save}" th:object="${trip}" method="post">

            <input type="hidden" th:field="*{trip_id}">

            <input type="hidden" th:field="*{hotel_id}">

            <label for="departyreTime_to">Departure time to</label><br>
            <input type="datetime-local" id="departyreTime_to" th:field="*{departyreTime_to}" class="form-control mb-4 col-4" placeholder="">

            <label for="departyreTime_from">Departure time from</label><br>
            <input type="datetime-local" id="departyreTime_from" th:field="*{departyreTime_from}" class="form-control mb-4 col-4" placeholder="">

            <label for="amountTripDays">Amount of days</label><br>
            <input type="number" id="amountTripDays" th:field="*{amountTripDays}" class="form-control mb-4 col-4" placeholder="">

            <label for="tripType">Trip type</label><br>
            <select id="tripType" class="form-control mb-4 col-4" th:field="*{tripType}">
                    <option th:each="c : ${tripType}"
                            th:value="${c}"
                            th:text="${c}">
                    </option>
            </select>

            <label for="adultPrice">Adult price</label><br>
            <input type="number" id="adultPrice" th:field="*{adultPrice}" class="form-control mb-4 col-4" step="0.01" placeholder="">

            <label for="childPrice">Child price</label><br>
            <input type="number" id="childPrice" th:field="*{childPrice}" class="form-control mb-4 col-4" step="0.01" placeholder="">

            <!-- <input type="text" th:field="*{isPromoted}" class="form-control mb-4 col-4" placeholder=""> -->
            <label for="isPromoted">Promoted</label><br>
            <input type="radio" th:field="*{isPromoted}" id="isPromoted" name="isPromoted" value="True"> Yes<br>
            <input type="radio" th:field="*{isPromoted}" id="isPromoted" name="isPromoted" value="False"> No<br><br>

            <label for="placesAmount">Amount of places</label><br>
            <input type="number" id="placesAmount" th:field="*{placesAmount}" class="form-control mb-4 col-4" placeholder="">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

    </div>













    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>